/*****
Main
******/ 
body{
	background: url(https://media.timeout.com/images/103139448/630/472/image.jpg) no-repeat;
	background-size: cover;
  height:550px;
 }

#main-container{
	background-color: lighten(rgba(253,213,139,1), 5%);
	background-image: url(https://www.solidbackgrounds.com/images/1920x1080/1920x1080-light-brown-solid-color-background.jpg);
	height: 450px;
	width: 300px;
	border-radius: 1%;
	text-align: center;
	box-shadow: 0px 5px 20px grey;
	margin: 0 auto;
  position: relative;
  display: block;
  /*optional background or border*/
  border: solid 4px #AD1457;
  margin-top: 5%;
  background: none;


}


/*****
Cal
******/ 
#calculator{
	text-align: center;
	width: 80%;
	margin: 0 auto;
	background-color: white;


}
	h1{
		padding-top: 5%;
		border-bottom: 2px solid lightgrey;
	}
	
	form label{
		display: block;
		padding-top: 5%;
		font-weight: bold;
		margin: 10px;
	}
	
	input{
		margin-top: 2%;
	}



button{
		background-color: #6c2726;
		color: white;
		border: none;
		text-transform: uppercase;
		font-size: 1.5em;
		width: 200px;
		padding: 20px 30px;
	}
	
	button:hover{
		background: #4c2827;
		border-bottom-color: #111;
	}
	
	button:active{
		position: relative;
		top: 3px;
	}
/*****
totalTip
******/ 
#totalTip{
	padding-top: 6%;
	
}


#totalTip:before{
	content: "Tip amount";
	font-size: 2.00em;
	font-weight: bold;
	display: block;
	text-transform: uppercase;
	color: yellow;
}

#totalTip small{
	margin-top: 20px;
	display: block;
	font-size: 3.0em;
}
#each{
	font-size: 2.43em;
	color: white;
}
#tip{
	font-size: 2.0em;
	 color: blue;
}
#dollar-sign{
	font-size: 2.0em;
	color: green;
}